.actions {
  max-width: 1200px;
  margin: 100px auto 0;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 90px; /* espace plus large entre boutons */
}

/* responsive tablette */
@media (max-width: 900px) {
  .actions {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}

/* responsive mobile */
@media (max-width: 500px) {
  .actions {
    grid-template-columns: 1fr;
    gap: 16px;
  }
}
